@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&family=Raleway:ital,wght@0,500;1,400&display=swap');
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
   scroll-behavior: smooth;
}
.navigation__links{
   background-color: black;
   display: flex;
   justify-content: center;
   overflow: hidden;
}
.navigation__links__content{
   width: 1200px ;
   padding: 0 15px;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
}
.navigation__links__content-logo{
   padding: 16px;
}
.navigation__links__content-choice{
   display: flex;
   color: white;
}
.navigation__links__content-choice_tabs{
   list-style-type: none;
   padding: 30px;
   max-width: 135px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   cursor: pointer;
   color: white;
   transition: all 0.3s;
}
.navigation__links__content-choice_tabs:hover{
   background-color: #EC7979;
   transition: 0.3s;
}
.navigation__links__content-choice_tabs:active{
   background: #AB4949;
   transition: 0.3s;
}
.main__list{
   background: url("../img/bgimg.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin: 0 auto;
   padding: 0 15px;
   position: relative;
}
.main__list::after{
   content: "";
   background-color:rgba(0,0,0,.5);
   height:100%;
   position:absolute;
   width:100%;
   top:0;
   left:0;
   z-index: 2;
}
.main__list__information{
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   position: relative ;
   align-items: flex-start;
   z-index: 3;
   padding: 15px 0;
}
.main__list__information__article{
   margin: 207px 0 0;
}
.main__list__information__article__logo{

}
.main__list__information__article__mean{
   color: white;
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   max-width: 670px;
   padding-top: 51px;
}
.main__list__information__article__mean::after{
   content: "";
   display: block;
   width: 170px;
   top: 100%;
   margin: 75px 0 0;
   border-bottom: 1px solid #fff;  
}
.main__list__information__article__text{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   width: 270px;
   margin: 42px 0;
}
.main__list__information__article__btn{
   width: 270px;
   height: 58px;  
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   cursor: pointer;
   background: none;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   margin-bottom: 185px;
   transition: all 0.3s;
}
.main__list__information__article__btn:hover{
   border: 1px solid #EC7979;
   transition: 0.3s;
   color: #EC7979;
}
.main__list__information__article__btn:active{
   border: 1px solid #EC7979;
   transition: 0.3s;
   color: #fff;
   background: #AB4949;
}
.main__list__information__registration{
   width: 470px;
   margin-top: 207px;
   background-color: #FFFFFF;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
}
.main__list__information_regitration__article{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-transform: uppercase;
   align-items: center;
   text-align: center;
   margin: 30px;
}
.main__list__information_regitration__article-free{
   color: pink;
}
.main__list__information__registration__data{
   color: #bdbdbd;
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   margin: 0 50px 33px;
   padding-bottom: 30px;
   border-bottom: 2px solid #bdbdbd;
}
.main__list__information__registration__btn{
   color: #FFFFFF;
   padding: 32px 0;
   border-radius: 0 0 15px 15px;
   border: none;
   cursor: pointer;
   background: #EC7979;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   margin-top: 30px;
   transition: all 0.3s;
}
.main__list__information__registration__btn:hover{
   background: #AB4949;
   transition: 0.3s;
}
.main__list__information__registration__btn:active{
   box-shadow: inset 0px 0px 10px #AB4949;
   transition: 0.3s;
   background: #EC7979;
}
.social{
   margin: 0 auto;
   background-color: #F8EFEF;
}
.social__media{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
   align-items: center;
}
.social__media__information{
   width: 50%;
}
.social__media__information__article{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   margin-bottom: 40px;
}
.social__media__information__about{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
}
.social__media__img{
   width: 50%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}
.social__media__imgs{
   width: 60px;
   height: 60px;
   margin: 45px 0;
}
.mainInformation{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}
.tab{
   display: block;
   padding: 15px;
   max-width: 1200px;
   position: relative;
}
.cont{
   display: flex;
   margin-bottom: -2px;
}
.navigationBlock{
   height: 40px;
   width: 180px;
   text-align:center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.activeBlock{
   border-top: 1px solid;
   border-right: 1px solid;
   border-left: 1px solid;
   border-color: #C6CBCD;
   border-radius: 5px 5px 0 0;
   background-color: #fff;
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
}
.passiveBlock{
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
}
.text{
   max-width: 610px;
   text-align: left;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   align-items: center;
   margin-left: 50px;
   margin-top: 40px; 
}
.downloadButton{
   width: 270px;
   height: 58px;
   margin: 27px 0 54px ;
   background-color: #EC7979;
   border: none;
   margin-top: 40px;
   cursor: pointer;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   margin-left: 90px;
   color: #FFFFFF;
}
.downloadButton:hover{
   background: #AB4949;
   transition: 0.3s;
} 
.downloadButton:active{
   background: #EC7979;
   box-shadow: inset 0px 0px 10px #AB4949;
   transition: 0.3s;
}
.img{
   max-width: 470px;
   max-height: 500px;
}
.article{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   align-items: center;
   margin-left: 50px;
   padding-top: 20px;
}
.Information{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: 1px solid #C6CBCD;
}
.leftSide{
   max-width: 610px;
}
.otherInformation{
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
   align-content: center;
   text-align: center;
   position: relative;
}
.otherInformation__about{
   position: relative;
   margin: 0 auto;
   max-width: 1200px;
}
.about{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   align-items: center;
   text-align: center;
   padding: 75px;
   position: relative;
}
.about::after{
   content: "";
   display: block;
   width: 170px;
   top: 100%;
   margin: 75px auto 0;
   border-bottom: 2px solid #EC7979;  
}
.h5{
   margin-top: 40px ;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   align-items: center;
   text-align: center;
   color: #86878B;
}
.about1{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   
}
.about2{
   width: 340px;
   margin-top: 110px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.design{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   padding: 40px;
   margin-top: 40px;
}
.textAbout{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   margin-top: 9px;
   padding: 0 15px ;
}
.row{
   width: 92px;
   height: 92px;
   border: 1px solid #EC7979;
   border-radius: 50% 50%;
   align-self: center;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.pricing{
   position: relative;
   margin: 58px auto 0;
   display: flex;
   flex-direction: column;
   background: #F5F5F5;
   justify-content: center;
}
.pricing__article{
   margin: 0 auto;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
}
.pricing__article__main{   
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   padding: 75px 0 0;
   position: relative;
   text-transform: uppercase;
}
.pricing__article__main::after{
   content: "";
   display: block;
   width: 170px;
   top: 100%;
   margin: 75px auto 0;
   border-bottom: 2px solid #EC7979;  
}
.pricing__article__text{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   margin-top: 40px;
   font-family: 'Raleway';
   color: #86878B;
   margin-bottom: 60px;
}
.pricing__choice{
   max-width: 1200px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}
.pricing__choice__tabs{
   width: 31%;
   min-width: 320px;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 0 0 50px;
   position: relative;
   transition: 0.5s;
}
.pricing__choice__tabs:hover{
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.5));
   transform: translateY(-20px);
   transition: all 0.5s;
   cursor: pointer;
}
.pricing__choice__tabs__headline{
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-transform: capitalize;
   color: #FFFFFF;
   margin: 0 auto;
   padding: 25px 0;
}
.pricing__choice__tabs__price{
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   color: #FFFFFF;
   background: #333333;
   border: 2px solid #F5F5F5;
   margin: 0 auto;
   padding: 40px 0;
}
.pricing__choice__tabs__benefits{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);
   margin: 0 auto;
   padding: 15px 0;
   background: #333333;
   text-transform: capitalize;
   border: 2px solid #F5F5F5;
}
.pricing__choice__tabs__line{
   background: #FFFFFF;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-transform: capitalize;
   color: #86878B;
   padding: 15px 0;
}
.feedback{
   margin: 50px auto 0;
}
.feedback__article{
   margin: 0 auto;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.feedback__article__main{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   position: relative;
   text-transform: uppercase;
   padding: 60px 0 ;
   
}
.feedback__article__main::after{
   content: "";
   display: block;
   width: 170px;
   top: 100%;
   margin: 75px auto 0;
   border-bottom: 2px solid #EC7979;  
}
.feedback__article__text{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   font-family: 'Raleway';
   color: #86878B;
}
.feedback__customers{
   max-width: 1200px;
   margin: 83px auto 60px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
.feedback__customers__comment{
   width: 370px;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.feedback__customers__comment__text{
   background: #E2E2E2;
   border-radius: 10px;
   padding: 38px 10px;
   text-align: center;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
}
.feedback__customers__comment__text::after{
   content: "";
   position: relative;
   width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 30px solid #E2E2E2;
   top: 80px;
   left: -40%
}
.feedback__customers__comment__who{
   display: flex;
   width: 370px;
   margin: 40px 0 0;
   flex-direction: row;
   justify-content: space-between;
}
.feedback__customers__comment__who__img{
   width: 70px;
   height: 70px;
   position: relative;
   overflow: hidden;
   margin: 0 15px;
}
.feedback__customers__comment__who__about{
   display: flex;
   flex-direction: column;
   width: 270px;
}
.feedback__customers__comment__who__about__name{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-transform: capitalize;
   padding: 10px 0;
}
.feedback__customers__comment__who__about__job{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-transform: capitalize;
   padding: 18px 0;
}
.stylish{
   margin: 0 auto;
   padding: 50px 0;
   background: url(../img/stylish.svg);
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
}
.stylish::after{
   content: "";
   background-color:rgba(0,0,0,.5);
   height:100%;
   position:absolute;
   width:100%;
   top:0;
   left:0;
   z-index: 2;
}
.stylish__article{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-align: center;
   position: relative;
   z-index: 3;
   margin-top: 50px;
}
.stylish__article::after{
   content: "";
   display: block;
   width: 170px;
   top: 100%;
   margin: 75px auto 40px;
   border-bottom: 2px solid #fff;  
   
}
.stylish__text{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   text-align: center;
   position: relative;
   z-index: 3;
}
.stylish__btn{
   width: 370px;
   padding: 20px;
   color: #fff;
   border: 1px solid #fff;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   margin: 73px auto 50px;
   text-transform: capitalize;
   background: none;
   cursor: pointer;
   position: relative;
   z-index: 3;
   transition: 0.3s;
}
.stylish__btn:hover{
   color: #EC7979;
   border: 1px solid #EC7979;
   transition: 0.3s;
}
.stylish__btn:active{
   background: #AB4949;
   border: 1px solid #AB4949;
   transition: 0.3s;
   color: #FFFFFF;
}
.contactUs{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
.contactUs__article{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.contactUS__article__headline{
   margin-top: 50px;
   padding: 75px 0 50px;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   text-transform: uppercase;
}
.contactUS__article__headline::after{
   content: "";
   display: block;
   width: 170px;
   top: 100%;
   margin: 75px auto 0;
   border-bottom: 2px solid #EC7979;  
}
.contactUs__article__text{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878B;
}
.contactUs__form{
   margin: 75px auto;
   max-width: 1200px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}
.contactUs__form__information{
   width: 500px;
   display: flex;
   padding-right: 15px;
   flex-direction: column;
   justify-content: space-between;
}
.contacUs__form__message{
   width: 500px;
   align-self: flex-start;
   resize: none;
   border: none;
   border-bottom: 1px solid silver;
   outline: none;
}
.contacUs__form__message::placeholder{
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
}
.contactUs__information__value{
   border: none;
   margin: 17px 0 0;
   padding-bottom: 16px;
   border-bottom: 1px solid silver;
   outline: none;
}
.contactUs__information__value::placeholder{
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
}
.ContactUs__btn{
   width: 370px;
   padding: 20px 0;
   margin: 0 auto 50px;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   text-transform: capitalize;
   color: #FFFFFF;
   background: #EC7979;
   border: none;
   transition: 0.3s;
   cursor: pointer;
}
.ContactUs__btn:hover{
   background: #AB4949;
   transition: 0.3s
}
.axure__links{
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: #000;
}
.axure__links__imgs{
   margin: 0 auto;
   width: 700px;
   display: flex;
   justify-content: space-between;

}
.axure__links__text{
   margin: 27px auto;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px ){
   *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
      scroll-behavior: smooth;
   }
   .main__list__information__article {
      margin: 137px 0 106px 100px;
   }
   .main__list__information__article__mean {
      color: white;
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      max-width: 480px;
      padding-top: 37px;
   }
   .main__list__information__article__mean::after{
      content: "";
      display: block;
      width: 115px;
      top: 100%;
      margin: 41px 0 0;
      border-bottom: 1px solid #fff;  
   }
   .main__list__information__article__text {
      width: 183px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
   }
   .main__list__information__article__btn {
      width: 183px;
      height: 50px;
   }
   .main__list__information__registration {
      width: 400px;
      margin: 136px 0 106px;
   }
   .main__list__information_regitration__article {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      align-items: center;
      text-align: center;
      margin: 30px;
   }
   .social__media__information__article {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 25px;
   }
   .social__media__information__about {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #86878B;
   }
   .social__media__imgs {
      width: 52px;
      height: 52px;
      margin: 30px 0;
   }
   .navigationBlock {
      height: 40px;
      width: 150px;
      text-align:center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
   }
   .article {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
   }
   .text {
      font-size: 14px;
      line-height: 16px;
   }
   .downloadButton {
      width: 230px;
   }
   .img {
      width: 100%;
      height: 100%;
   }
   .about {
      font-size: 24px;
      line-height: 28px;
   }
   .about::after{
      width: 142px;
   }
   .h5 {
      margin-top: 32px;
      font-size: 14px;
      line-height: 16px;
   }
   .about2 {
      width: 318px;
      margin-top: 65px;
   }
   .design {
      font-size: 18px;
      line-height: 25px;
   }
   .textAbout {
      font-size: 14px;
      line-height: 16px;
   }
   .pricing__choice__tabs {
      width: 318px;
   }
   .feedback__article__main {
      font-size: 24px;
      line-height: 28px;
   }
   .feedback__article__text {
      font-size: 14px;
      line-height: 16px;
   }
   .feedback__customers__comment {
      width: 317px;
      margin-bottom: 60px;
   }
   .feedback__customers__comment__text {
      font-size: 14px;
      line-height: 16px;
   }
   .feedback__customers__comment__text::after{
      content: "";
      position: relative;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #E2E2E2;
      top: 70px;
      left: -80%
   }
   .feedback__customers__comment__who {
      width: 317px;
   }
   .feedback__customers__comment__who__img {
      width: 63px;
      height: 63px;
   }
   .feedback__customers__comment__who__about__name {
      font-size: 18px;
      line-height: 25px;
      padding: 10px;
   }
   .feedback__customers__comment__who__about__job {
      font-size: 14px;
      line-height: 16px;
      padding: 10px;
   }
   .stylish__article {
      font-size: 24px;
      line-height: 28px;
   }
   .stylish__article::after{
      width: 142px;
      margin: 60px auto 0;
   }
   .stylish__text {
      font-size: 14px;
      line-height: 16px;
   }
   .stylish__btn {
      width: 317px;
   }
   .contactUS__article__headline {
      font-size: 24px;
      line-height: 28px;
   }
   .contactUs__article__text {
      font-size: 14px;
      line-height: 16px;
   }
   .contactUs__form__information {
      width: 480px;
   }
   .contacUs__form__message {
      width: 480px;
   }
   .ContactUs__btn {
      width: 318px;
   }
   .axure__links__text {
      font-size: 14px;
      line-height: 16px;
   }
}
@media (max-width: 760px ){
   .navigation__links__content{
      width: 100%;
   }
   .navigation__links__content-choice{
      width: 50%;
   }
   .navigation__links__content-choice_tabs{
      width: 20%;
   }
   .img{
      display: none;
   }
   .social__media{
      flex-wrap: wrap;
      
   }
   .social__media__img{
      width: 80%;
   }
   .axure__links__imgs{
      width: 80%;
   }
   .contactUs__form__information{
      width: 90%;
   }
   .contacUs__form__message{
      width: 90%;
   }
   .contactUs__form{
      width: 100%;
   }
   .pricing__choice{
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .main__list__information {
      flex-wrap: wrap;
   }
   .main__list__information__article {
      margin: 0 auto;
   }
   .main__list__information__article__logo {
      display: none;
   }
   .main__list__information__article__mean {
      width: 100%;
      padding: 0 ;
      text-align: center;
      margin-top: 80px;
   }
   .main__list__information__article__mean::after{
      margin: 43px auto 0;
   }
   .main__list__information__article__text {
      margin: 42px auto;
      text-align: center;
   }
   .main__list__information__article__btn {
      width: 100%;
   }
   .main__list__information__registration {
      margin: 0 auto 50px;

}
@media (max-width: 420px ){
   *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
      scroll-behavior: smooth;
   }
   .navigation__links__content-choice {
      display: none;
   }
   .main__list__information {
      flex-wrap: wrap;
   }
   .main__list__information__article {
      margin: 0 auto;
   }
   .main__list__information__article__logo {
      display: none;
   }
   .main__list__information__article__mean {
      width: 100%;
      padding: 0 ;
      text-align: center;
      margin-top: 80px;
   }
   .main__list__information__article__mean::after{
      margin: 43px auto 0;
   }
   .main__list__information__article__text {
      margin: 42px auto;
      text-align: center;
   }
   .main__list__information__article__btn {
      width: 100%;
   }
   .main__list__information__registration {
      margin: 0 auto 50px;
   }
   .social__media {
      display: flex;
      flex-wrap: wrap;
   }
   .social__media__information {
      width: 100%;
   }
   .social__media__information__article {
      text-align: center;
   }
   .social__media__information__about {
      text-align: center;
   }
   .social__media__img {
      width: 100%;
      margin: 0 auto 24px;
   }
   .social__media__imgs {
      width: 26px;
      height: 26px;
   }
   .navigationBlock {
      width: 95px;
      font-size: 14px;
      line-height: 19px;
   }
   .article {
      margin: 0 auto;
      text-align: center;
      padding: 50px 25px 40px;
   }
   .text {
      text-align: center;
      margin: 0 auto;
      padding: 0 20px;
   }
   .downloadButton {
      display: block;
      width: 80%;
      margin: 29px auto;
      align-self: center;
   }
   .img {
      display: none;
   }
   .about {
      margin: 0 auto;
   }
   .about2 {
      width: 100%;
   }
   .pricing {
      width: 100%;
   }
   .pricing__choice {
      justify-content: center;
      margin: 0 auto;
   }
   .pricing__choice__tabs {
      width: 80%;
      justify-content: center;
      display: block;
      margin: 15px auto;
      min-width: 0 ;
   }
   .pricing__choice__tabs__headline {
      width: 100%;
   }
   .pricing__choice__tabs__price {
      width: 100%;
   }
   .pricing__choice__tabs__benefits {
      width: 100%;
   }
   .pricing__choice__tabs__line {
      width: 100%;
   }
   .feedback__article__main {
      text-align: center;
   }
   .feedback__article__text {
      text-align: center;
   }
   .feedback__customers__comment {
      width: 85%;
   }
   .feedback__customers__comment__text::after {
      content: "";
      position: relative;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #E2E2E2;
      top: 70px;
      left: -44%
   }
   .stylish__text {
      width: 80%;
      display: block;
      margin: 20px auto;
   }
   .stylish__btn {
      display: block;
      margin: 0 auto;
      width: 80%;
   }
   .contactUS__article__headline {
      width: 80%;
      margin: 0 auto;
      display: block;
   }
   .contactUs__form {
      width: 80%;
      margin: 64px auto 0;
      display: block;
   }
   .contactUs__form__information {
      width: 100%;
      margin: 0 0 50px;
   }
   .contactUs__information__value {
      margin: 50px 0 0;
   }
   .contacUs__form__message {
      width: 100%;
   }
   .ContactUs__btn {
      width: 70%;
      margin: 50px auto 40px;
   }
   .axure__links__imgs {
      width: 80%;
   }
}